.header-image {
  background-size: cover;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.tab-definitions {
  max-width: 35em;
}

.hide-player {
  visibility: hidden;
}

.player-container {
  max-width: 30em;
  max-height: 22em;
}

.word-translation {
  padding-bottom: 0.5em;
}

.audio-player {
  max-width: 5em;
}

.mat-panel-description + .mat-panel-description {
  flex: 0 0 auto;
  flex-basis: 0;
}
